<!DOCTYPE html>
<html>
	<head>
		<title>My Web</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<div class="container">
		<#if member?? >
			<div class="btn-group">
				<a href="/home" class="btn btn-outline-primary">
					Home
				</a>
				<a href="/new" class="btn btn-outline-primary">
					New Topic
				</a>
				<a href="/logout" class="btn btn-outline-primary">
					Log Out
				</a>
			</div>
		<#else>
			<div class="btn-group">
				<a href="/register" class="btn btn-outline-primary">
					Register
				</a>
				<a href="/login" class="btn btn-outline-primary">
					Log In
				</a>
			</div>
		</#if>
		</div>