<#include "header.html">

<style>
	.item {
		border-width: 1px;
		border-color: lightgray;
		border-style: solid;
		margin-top: 10px;
		padding: 5px;
		border-radius: 10px;
	}
	img {
		width: 50%;
	}
</style>

<div class="container">
	<#list data as d>
		<div class="item">
			<h3>${d.title}</h3>
			<p>${d.detail}</p>
			<#if d.photo ?? >
				<img src="/photo/${d.photo}" >
			</#if>
			<br>
			<#if d.member == member >
				<a href="/edit/${d.code}">Edit</a>
			</#if>
		</div>
	</#list>
</div>


<#include "footer.html">


